{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "cypress/globals": true
  },
  "plugins": [
    "jest",
    "babel",
    "react",
    "react-hooks",
    // "cypress"
  ],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    // "plugin:cypress/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // "brace-style": "error",
    // "camelcase": ["error", { "properties": "never" }],
    // "comma-dangle": ["error", "never"],
    // "func-call-spacing": ["error", "never"],
    // "keyword-spacing": ["error", { "before": true }],
    // "space-infix-ops": ["error", { "int32Hint": false }],
    // "object-curly-spacing": ["error", "always"],
    // "eqeqeq": "warn",
    // "indent": ["error", 2, { "SwitchCase": 1 }],
    // "key-spacing": ["error", { "beforeColon": false }],
    // // "no-console": "warn",
    // "no-fallthrough": "warn",
    // "no-var": "warn",
    // "prefer-const": "error",
    // "quotes": ["error", "single"],
    // "semi": ["error", "always"],
    // "react/prop-types": [0],
    // "node/no-unsupported-features/es-syntax": ["off"],
    // "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    // "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}
